@charset "UTF-8";

body {
  color: #000;
  /*メイン画像*/
  /*.navbar-nav ml-auto {*/
  /*  float: right;*/
  /*  display: block;*/
  /*  flex-flow: column;*/
  /*  height: 200px;*/
  /*  font-size: 20px;*/
  /*}*/
  /*ul li a {*/
  /* 縦に並べる 
  /*  text-align: right;*/
  /*  list-style-type: none;*/
  /*  padding: 0.5em;*/
  /*background: #ccc;*/
  /*  margin: 0 0 0 200px;*/
  /*  height: 60px;*/
  /*  font-size: 20px;*/
  /*}*/
  /*ul li {*/
  /*　　overflow:hidden;*/
  /*　　list-style-type: none;*/
  /*　　margin: 0 50px;*/
  /*　　z-index: 20;*/
  /*　　float: right;*/
  /*　　margin: 0 0 0 950px;*/
  /*}*/
  /*.li a nav-link {*/
  /*  margin: 0 0 0 50px;*/
  /*  float: right;*/
  /*}*/
  /*.li p {*/
  /*  margin: 0 0 0 950px;*/
  /*}*/
}

body .bgCarousel {
  height: 600px;
  width: 100vw;
}

body .bgCarousel__item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
  width: 100%;
  height: 100%;
  position: relative;
}

body .bgCarousel__item:nth-child(1) {
  background-image: url(/image/flower-field-250016_640.jpg);
}

body .bgCarousel__item:nth-child(2) {
  background-image: url(/image/polynesia-3021072_640.jpg);
}

body .bgCarousel__item:nth-child(3) {
  background-image: url(/image/grand-canyon-4273792_640.jpg);
}

body .bgCarousel__item:nth-child(4) {
  background-image: url(/image/slide-4.png);
}

body .btn_06-2 {
  max-width: 300px;
  margin: 0 auto;
  display: block;
  color: #ffffff;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  text-align: center;
  padding: 12px 12px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  max-width: 360px;
  margin: 0 auto;
  position: relative;
}

body .btn_06-2 span {
  position: relative;
  display: block;
  transform: translate(-3px, -3px);
  transition: 0.3s;
  z-index: 1;
}

body .btn_06-2:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: #3284d9;
  border-radius: 6px;
  box-sizing: border-box;
  transform: translate(-3px, -3px);
  transition: 0.3s;
}

body .btn_06-2:hover span {
  transform: translate(0, 0);
}

body .btn_06-2:hover:after {
  transform: translate(0, 0);
}

@media all and (max-width: 1023px) {
  body .btn_06-2 {
    font-size: 18px;
  }
}

@media all and (max-width: 767px) {
  body .btn_06-2 {
    font-size: 16px;
  }
}

body .container {
  margin: 0 auto;
}

body .article-show {
  display: inline-block;
  box-shadow: 1px 1px 3px;
  border-radius: 10px;
  margin: 30px auto;
  width: 900px;
}

body .a {
  color: #000;
  text-transform: uppercase;
}

body .navbar-dark .navbar-nav .nav-link {
  color: #000;
  font-size: 18px;
}

body .new-article {
  box-shadow: 1px 1px 3px;
  border-radius: 10px;
  margin: 30px auto;
  height: 200px;
  width: 900px;
}

body .logo img {
  padding-top: 5px;
  margin: 0;
  width: 90px;
  height: 120px;
}

body .top-image {
  padding: 0;
  size: cover;
}

body .img-fluid {
  margin: 0;
  padding: 0;
  opacity: 0.6;
  size: cover;
  position: relative;
}

body .navbar {
  margin-bottom: -60px;
}

body body .header-navigation {
  width: 100%;
  background-color: #d2effa;
  padding: 20px 0;
  position: absolute;
}

body .header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

body .header-navigation li {
  float: left;
  padding: 10px 30px;
  text-align: center;
  list-style-type: none;
}

body .header-navigation li a {
  color: #333;
  text-decoration: none;
}

body .navbar navbar-expand-lg navbar-light bg-light {
  background-color: #d2effa;
}

body .navbar-brand {
  color: #000 !important;
}

body .nav-link {
  color: #000 !important;
}

body .table-dark {
  color: #fff;
}

body .list-group-item {
  border-color: #fff;
  background-color: #000;
}

body .login-box {
  background-color: rgba(0, 0, 0, 0);
}

body .login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

body .login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

body .posts .post .date {
  font-size: 0.6em;
  color: #999999;
}

body .posts .post .title {
  font-size: 1.2em;
  font-weight: bold;
}

body .posts .post .body {
  font-size: 0.8em;
}

body .posts .post .image img {
  width: 250px;
}

