header{
  z-index: 20;
  position: relative;
  top: 0;
  background-image: url(/image/mypage-header.png);
  background-size: cover;
  height: 200px;
　width: 100%;
  opacity: 0.6;
  display: flex;
  align-items: center;
}

/*.header-image {*/
/*  position: relative;*/
/*  margin: 0;*/
/*  padding: 0;*/
                  /* 画像の表示位置を指定  
/*  height: 100vh;*/
/*  width: 100%;      */
/*  opacity: 0.6;*/
/*  background-size: cover;*/
/*}*/

.logo a img {
  padding: 25px 25px;
  width: 120px;
  height: 150px;
  position: absolute;
}

Label {
  float: right;
  padding: 0 0 0 auto;
}
  

ul {
　　overflow:hidden;
　　list-style:none;
　　margin: 0 50px;
　　z-index: 20;
　　position: absolute;
　
}

ul li {
  display: inline-block;
  margin: 10px 0 0 30px;
  font-size: 20px;

}

.btn-2 {
  text-decoration: none;
  background-color: #3284d9;
  color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #00000029;
  font-size: 16px;
  padding: 15px 15px;

  /*margin: 0 0 0 700px;*/
}
a {
  color: #000;
　text-transform: uppercase;
}

h1 {
  text-align: center;
  margin-top: 25px;
}


body .header-navigation {
  width: 100%;
  background-color: #d2effa;
  padding: 20px 0;
}

body .header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

body .header-navigation li {
  float: left;
  padding: 10px 30px;
  text-align: center;
  list-style-type: none;
}

body .header-navigation li a {
  color: #333;
  text-decoration: none;
}

body .navbar navbar-expand-lg navbar-light bg-light {
  background-color: #d2effa;  
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.main {
  /*margin-top: 125px;*/
  height: 1500px;
}
 

.form-group row {
  text-align: center;
  margin-left: 300px;
}