@charset "UTF-8";

body {
  color: #000;
}

body .header {
  z-index: 20;
  position: relative;
  top: 0;
  background-image: url(/image/mypage-header.png);
  background-size: cover;
  height: 200px;
  width: 100%;
  opacity: 0.6;
  display: flex;
  align-items: center;
}

body .logo a img {
  padding: 25px 25px;
  width: 120px;
  height: 150px;
  position: absolute;
}

body .Label {
  float: right;
  padding: 0 0 0 auto;
}

body .ul {
  overflow: hidden;
  list-style: none;
  margin: 0 50px;
  z-index: 20;
  position: absolute;
}

body 　 　.ul li {
  display: inline-block;
  margin: 10px 0 0 30px;
  font-size: 20px;
}

body .btn-2 {
  text-decoration: none;
  background-color: #3284d9;
  color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #00000029;
  font-size: 16px;
  padding: 15px 15px;
  /*margin: 0 0 0 700px;*/
}

body .a {
  color: #000;
  text-transform: uppercase;
}

body .h1 {
  text-align: center;
  margin-top: 25px;
}

body .header-navigation {
  width: 100%;
  background-color: #D2EFFA;
  padding: 20px 0;
}

body .header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

body .header-navigation li {
  float: left;
  padding: 0 30px;
  text-align: center;
  list-style-type: none;
}

body .header-navigation li a {
  color: #333;
  text-decoration: none;
}

.navbar navbar-expend-lg navbar-light bf-light {
  background-color: #d2effa;
}

.navbar-laravel {
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.form-group row {
  text-align: center;
  margin-left: 300px;
}

