header{
  z-index: 10;
　height: 50px;
  position: fixed;
  top: 0;
  background-color: #d2effa;
  width: 100%;
  display: flex;
  align-items: center;
}

img {
  padding: 25px 25px;
  width: 120px;
  height: 150px;
}

  

ul {
　　overflow:hidden;
　　list-style:none;
　　margin: 0 50px;
　　z-index: 20;
}

ul li {
  display: inline-block;
  margin: 10px 0 0 30px;
  font-size: 20px;
}

a {
  color: #000;
　text-transform: uppercase;
}

body .header-navigation {
  width: 100%;
  background-color: #d2effa;
  padding: 20px 0;
}

body .header-navigation:after {
  clear: both;
  display: block;
  content: " ";
}

body .header-navigation li {
  float: left;
  padding: 10px 30px;
  text-align: center;
  list-style-type: none;
}

body .header-navigation li a {
  color: #333;
  text-decoration: none;
}

body .navbar navbar-expand-lg navbar-light bg-light {
  background-color: #d2effa;  
}

.navbar-brand {
  color: #000 !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.main {
  background-color: orange;
  padding-top: 200px;
  height: 1500px;
}
